:root {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

#library {
    display: flex;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    height: 200px;
    width: 350px;
    position: relative;
}

.card .image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 1px dashed purple;
}

.card .info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    border: 1px dashed green;
}

#newBook form {
    display: flex;
    flex-direction: column;
}

.remove-btn {
    width: 2em;
    height: 2em;
    background-color: lightgray;
    color: white;
    border-radius: 50%;
    border: 2px solid gray;
    position: absolute;
    right: 1em;
    top: 1em;

    display: grid;
    justify-content: center;
    align-items: center;
}

.remove-btn > img {
    width: 1.5em;
    height: 1.5em;
}

.remove-btn > svg {
    width: 1.5em;
    path {
        fill: white;
    }
}